@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1A120B;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.container {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 12px;
  padding-right: 12px;
}
