.header {
  display: block;
  width: 100%;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}

.split {
  border-bottom: thin solid #D5CEA3;
  margin: 20px auto 20px auto;
  width: 15%;
}

.header h1, h4, p {
  color: #E5E5CB;
  text-align: center;
}

.header h1 {
  font-size: 28px;
}

.header p {
  margin-top: -5px;
  text-align: center;
}

.hub {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  /* height: 80px; */
}

.hub .portal {
  margin: 5px;
  width: 150px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s;
  padding: 20px 20px 20px 20px;
  border: 1px solid #D5CEA3;
  border-radius: 5px;
  text-align: center;
}

.hub .portal a {
  border: 0;
  color: #E5E5CB;
}

.hub .portal:hover {
  a {
    opacity: 1;
    font-size: 18px;
  }
}

.footer {
  font-size: 12px;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: #3C2A21;
  width: 100%;
  margin: 0 auto 20px auto;
}